#cuinfotbl input {
    margin:5px 15px 5px 5px;
    Border-radius: 5px;

}

#cuinfotbl td {
    text-align: right;
    font-size: medium;


}

#prinfotbl input {
    margin: 10px;
    Border-radius: 5px;
}

#sellinfotbl input {
    margin: 10px;
    Border-radius: 5px;
}
#sellinfotbl td{
    text-align: right;
}

#displayinfoCuPr input {
    margin: 4px;
    Border-radius: 3px;
}

#displayinfoCuPr {

    text-align: center;
    font-family: "2  Mitra";
    font-style: revert;
    font-size:medium;

}