<div>
    <div style="font-family: '2  Mitra'">
        <div class="row" style="padding: 15px;">
            <div class="col-xl-3 col-lg-3 col-md-3">
                <table id="cuinfotbl">
                    <tr>
                        <td>کدمشتری</td>
                        <td><input type="text" (keyup.enter)="getCustomer($event)" value="{{cpAndCustomer[0].cuid}}"
                                   id="cuid"></td>
                    </tr>
                    <tr>
                        <td>نام</td>
                        <td><input type="text" value="{{cpAndCustomer[0].firstName}}"></td>
                    </tr>
                    <tr>
                        <td>نام خانوادگی</td>
                        <td><input type="text" value="{{cpAndCustomer[0].lastName}}"></td>
                    </tr>

                    <tr>
                        <td>تلفن</td>
                        <td><input type="text" value="{{cpAndCustomer[0].mobileNum}}"></td>
                    </tr>
                    <tr>
                        <td>آدرس</td>
                        <td><input type="text" value="{{cpAndCustomer[0].addressname}}"></td>
                    </tr>
                    <tr>
                        <td>مانده حساب</td>
                        <td><input type="text" value="{{cpAndCustomer[0].mande | number}}"></td>
                    </tr>
                </table>
            </div>
            <div class="col-xl-3 col-lg-3">
                <table id="prinfotbl">
                    <tr>
                        <td>کدکالا</td>
                        <td><input type="text" (keyup.enter)="getProduction($event)" value="{{loadedProduction.prid}}"
                                   id="prid">
                        </td>
                    </tr>
                    <tr>
                        <td>نام کالا</td>
                        <td><input type="text" value="{{loadedProduction.prName}}"></td>
                    </tr>
                    <tr>
                        <td>موجودی</td>
                        <td><input type="text" value="{{loadedProduction.remainMeter}}"></td>
                    </tr>
                </table>
            </div>
            <div class="col-xl-4 col-lg-4">
                <table id="sellinfotbl" style="margin: 0px 50px 0px 0px;">
                    <tr>
                        <td>تحویلی</td>
                        <td><input size="9" type="text" [(ngModel)]="operationPr.metercp"
                                   (keyup.enter)="nextinput($event)"
                                   name="metercp" id="metercp"></td>
                        <td>قیمت واحد</td>
                        <td><input size="12" type="text" [(ngModel)]="operationPr.price"
                                   (keyup.enter)="nextinput($event)"
                                   name="price" id="price"></td>
                        <td>تخفیف</td>
                        <td><input size="12" type="text" [(ngModel)]="operationPr.discount"
                                   (keyup.enter)="nextinput($event)"
                                   name="discount" id="discount"></td>
                    </tr>
                    <tr>
                        <td>وجه</td>
                        <td><input size="12" type="text" [(ngModel)]="operationPr.pay"
                                   (keyup.enter)="nextinput($event)"
                                   name="pay" id="pay"></td>
                        <td>شماره فاکتور</td>
                        <td><input size="5" type="text" [(ngModel)]="operationPr.factore" id="factore"
                                   name="factore" (keyup.enter)="savecpInfo()" required></td>
                        <td>مانده</td>
                        <td><input size="12" type="text" [ngModel]="operationPr.remain | number"
                                   (ngModelChange)="operationPr.remain"
                                   name="remain"></td>
                    </tr>
                    <tr>
                        <td>تاریخ</td>
                        <td><input size="10" type="text" [(ngModel)]="operationPr.kaladate"

                                   name="kaladate" style="text-align: center"></td>
                        <td><input type="button" value="ذخیره" (click)="savecpInfo()"></td>
                        <td><input type="button" class=" btn-sm btn-primary" data-toggle="modal" data-target="#searchCuModal" value="جستجوی مشتری"></td>
                        <td><input type="button" class=" btn-sm btn-primary" data-toggle="modal" data-target="#searchPrModal" value="جستجوی کالا"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div style="padding:0px 20px 5px 10px">
        <div class="row" id="displayinfoCuPrdiv">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 table-wrapper-scroll-y">
                <table id="displayinfoCuPr">
                    <tr>
                        <td>کدکالا</td>
                        <td>نام کالا</td>
                        <td>تحویلی</td>
                        <td>قیمت</td>
                        <td>تخفیف</td>
                        <td>وجه</td>
                        <td> فاکتور</td>
                        <td>مانده</td>
                        <td>تاریخ</td>
                        <td>عملیات</td>
                    </tr>
                    <tr *ngFor="let cp of cpAndCustomer[1]">
                        <td><input size="5" type="text" name="prid" value="{{cp.prid}}"></td>
                        <td><input type="text" name="prName" value="{{cp.prName}}"></td>
                        <td><input size="5" type="text" name="metercp" value="{{cp.metercp}}"></td>
                        <td><input type="text" name="price" value="{{cp.price |number}}"></td>
                        <td><input type="text" name="discount" value="{{cp.discount |number}}"></td>
                        <td><input type="text" name="pay" value="{{cp.pay |number}}"></td>
                        <td><input size="5" type="text" name="factore" value="{{cp.factore}}"></td>
                        <td><input size="12" type="text" name="remain" value="{{cp.remain |number}}"></td>
                        <td><input size="10" type="text" name="date" value="{{cp.kaladate | date:'yyyy/MM/dd'}}"></td>
                        <td>
                            <input type="button" class="btn btn-danger" name="delete" (click)="deleteCp(cp)"
                                   value="حذف">
                            <input type="button" class="btn btn-primary" name="edit" value="ویرایش"
                                   (click)="editCp(cp)">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal" id="searchCuModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header" dir="rtl">
                    <h5 class="modal-title" style="font-family: '2  Mitra'">جستجوی مشتری</h5>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <input type="text" placeholder="مشتری را جستجو کنید" class="form-control"
                           (keyup)="searchCu($event)">
                    <div style="margin-top: 15px;margin-right: 40px;font-family: '2  Mitra';text-align: center">
                        <table>
                            <tr>
                                <td>کدمشتری</td>
                                <td>نام</td>
                                <td>نام خانوادگی</td>
                                <td>مانده حساب</td>
                                <td>تاریخ</td>
                            </tr>
                            <tr *ngFor="let cu of cusearch">
                                <td><input size="7" type="text" value="{{cu.cuid}}"></td>
                                <td><input size="12" type="text" value="{{cu.firstName}}"></td>
                                <td><input size="8" type="text" value="{{cu.lastName}}"></td>
                                <td><input size="8" type="text" value="{{cu.mande}}"></td>
                                <td><input size="8" type="text" value="{{cu.registerDate | date:'yyyy/MM/dd'}}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal" id="searchPrModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header" dir="rtl">
                    <h5 class="modal-title" style="font-family: '2  Mitra'">جستجوی کالا</h5>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <input type="text" placeholder="کالا را جستجو کنید" class="form-control"
                           (keyup)="searchPr($event)">
                    <div style="margin-top: 15px;margin-right: 70px;font-family: '2  Mitra';text-align: center">
                        <table>
                            <tr>
                                <td>کدکالا</td>
                                <td>نام کالا</td>
                                <td>متراژ</td>
                                <td>تاریخ</td>
                            </tr>
                            <tr *ngFor="let pr of prsearch">
                                <td><input size="7" type="text" value="{{pr.prid}}"></td>
                                <td><input size="12" type="text" value="{{pr.prName}}"></td>
                                <td><input size="8" type="text" value="{{pr.meterPr}}"></td>
                                <td><input size="8" type="text" value="{{pr.tarikh | date:'yyyy/MM/dd'}}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>