<div id="signinDiv" >
    <div  style="text-align: right;padding: 30px">
        <form style="font-family: '2  Mitra'">
            <table id="regis">
                <tr >نام کاربری</tr>
                <tr><input type="text" class="form-control" placeholder="نام کاربری را وارد کنید"></tr>
                <tr>رمزعبور</tr>
                <tr><input type="text" class="form-control" placeholder="رمز عبور را وارد کنید"></tr>
                <tr>ایمیل</tr>
                <tr><input type="text" class="form-control" placeholder="ایمیل خود را وارد کنید"></tr>
            </table>
            <hr>
            <input type="button" class="btn btn-dark btn-sm" value="ثبت نام">
        </form>
    </div>
</div>