<div>
    <div>
        <h1>مدیریت کالا<a style="font-size: small;cursor: pointer" data-toggle="modal" data-target="#searchModal">
            جستجوی کالا</a></h1>
    </div>
    <div class="row">
        <aside class="col-lg-3">
            <form (ngSubmit)="saveProduction()" autocomplete="off">
                <table id="registerProduction">

                    <tr>
                        <td>کدکالا</td>
                        <input type="text" name="prid" [(ngModel)]="production.prid">
                    </tr>
                    <tr>
                        <td>نام</td>
                        <input type="text" autocomplete="false" name="prName" [(ngModel)]="production.prName">
                    </tr>
                    <tr>
                        <td>متراژ</td>
                        <input type="text" name="meterPr" [(ngModel)]="production.meterPr">
                    </tr>
                    <tr>
                        <td>توضیح</td>
                        <textarea rows="3" cols="19" name="descreption" [(ngModel)]="production.descreption"></textarea>
                    </tr>
                    <tr>
                        <td>تاریخ ثبت</td>
                        <input type="text" style="text-align: center" placeholder="تاریخ را انتخاب کنید"
                               [(ngModel)]="production.tarikh" name="tarikh" [dpDayPicker]="config">
                    </tr>
                    <tr>
                        <input class="btn btn-primary" type="submit" value="ثبت">
                    </tr>

                </table>

            </form>
        </aside>
        <aside class="col-lg-9">
            <div class="table-wrapper-scroll-y">
                <table id="productionDisplay">
                    <tr>
                        <td>کدکالا</td>
                        <td>نام</td>
                        <td>متراژ</td>
                        <td>موجودی</td>
                        <td>توضیحات</td>
                        <td>تاریخ</td>
                    </tr>
                    <tr *ngFor="let data of productions">
                        <td><input size="11" type="text" value="{{data.prid}}" #prid readonly></td>
                        <td><input size="10" type="text" value="{{data.prName}}" #prName></td>
                        <td><input size="10" type="text" value="{{data.meterPr}}" #meterPr></td>
                        <td><input size="5" type="text" value="{{data.remainMeter}}" readonly></td>
                        <td><input size="25" type="text" value="{{data.descreption}}" #descreption></td>
                        <td><input size="10" type="text" value="{{data.tarikh | date: 'yyyy/MM/dd'}}" #tarikh></td>
                        <td><input class="btn btn-danger rounded-circle" (click)="deleteProduction(data)" type="button"
                                   value="حذف">
                            <input class="btn btn-primary rounded-circle"
                                   (click)="editProduction(data.id,prid.value,prName.value,meterPr.value,tarikh.value,descreption.value)"
                                   type="button" value="ویرایش">
                        </td>
                    </tr>

                </table>
            </div>
        </aside>
    </div>
    <!-- The Modal -->
    <div class="modal" id="searchModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header" dir="rtl">
                    <h5 class="modal-title" style="font-family: '2  Mitra'">جستجوی کالا</h5>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <input type="text" placeholder="کالای مورد نظر خود را جستجو کنید" class="form-control"
                           (keydown.enter)="searchResult($event)">
                    <div style="margin-top: 15px;margin-right: 70px">
                        <table id="searchingPr">
                            <tr>
                                <td>کدکالا</td>
                                <td>نام کالا</td>
                                <td>متراژ</td>
                                <td>تاریخ</td>
                            </tr>
                            <tr *ngFor="let pr of prSearched">
                                <td><input size="7" type="text" value="{{pr.prid}}"></td>
                                <td><input size="12" type="text" value="{{pr.prName}}"></td>
                                <td><input size="8" type="text" value="{{pr.meterPr}}"></td>
                                <td><input size="8" type="text" value="{{pr.tarikh | date:'yyyy/MM/dd'}}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>