

<div>
    <div id="divtitle">
        <h1>  مدیریت مشتری<span style="cursor: pointer;font-size:small" data-toggle="modal" data-target="#searchCuModal">-جستجوی مشتری-</span></h1>
    </div>
    <div dir="rtl" class="row">
        <div class="col-xl-3 col-lg-3 col-md-2">

            <table id="registerCustomer">
                <tr>
                    <td>کد(کدملی)</td>
                    <input type="text" name="cuid" [(ngModel)]="customer.cuid">
                </tr>
                <tr>
                    <td>نام</td>
                    <input type="text" name="firstName" [(ngModel)]="customer.firstName">
                </tr>
                <tr>
                    <td>نام خانوادگی</td>
                    <input type="text" name="lastName" [(ngModel)]="customer.lastName">
                </tr>
                <tr>
                    <td>شماره موبایل</td>
                    <input type="text" name="mobilNum" [(ngModel)]="customer.mobileNum">
                </tr>
                <tr>
                    <td>شماره تلفن</td>
                    <input type="text" name="phoneNum" [(ngModel)]="customer.phoneNum">
                </tr>
                <tr>
                    <td>آدرس</td>
                    <textarea rows="2" cols="20" name="addressname" [(ngModel)]="customer.addressname"></textarea>
                </tr>
                <tr>
                    <td>توضیح</td>
                    <textarea rows="2" cols="20" name="descreption" [(ngModel)]="customer.descreption"></textarea>
                </tr>
                <tr>
                    <td>تاریخ ثبت</td>
                    <input type="text" style="text-align: center" placeholder="تاریخ را انتخاب کنید" name="tarikh"
                           [ngModel]="customer.registerDate | date:'yyyy/MM/dd'" (ngModelChange)="customer.registerDate=$event" [dpDayPicker]="config">
                </tr>
                <tr>
                    <input class="btn btn-primary btn-sm" type="button" value="ثبت" (click)="saveCustomer()">
                </tr>
            </table>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-10">
            <div class="table-wrapper-scroll-y" style="margin-right: 15px">
                <table id="displayCu">
                    <tr>
                        <td>کدملی</td>
                        <td>نام</td>
                        <td>نام خانوادگی</td>
                        <td>شماره تماس</td>
                        <td>توضیحات</td>
                        <td>آخرین مراجعه</td>
                        <td>مانده(ریال)</td>
                    </tr>
                    <tr *ngFor="let customer of customers">
                        <td><input size="10" type="text" value="{{customer.cuid}}"></td>
                        <td><input size="10" type="text" value="{{customer.firstName}}"></td>
                        <td><input size="10" type="text" value="{{customer.lastName}}"></td>
                        <td><input size="10" type="text" value="{{customer.mobileNum}}"></td>
                        <td><input type="text" value="{{customer.descreption}}"></td>
                        <td><input size="8" type="text" value="{{customer.lastCome | date:'y/M/d'}}"></td>
                        <td><input size="8" type="text" value="{{customer.mande |number}}"></td>
                        <td>
                            <button class="btn btn-info btn-sm rounded-bottom" (click)="showCustomer(customer)"
                                    data-toggle="modal" data-target="#myModal">مشاهده مشخصات کامل
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div>
                        <h4 class="modal-title" style="font-family: 'B Titr'">مشخصات مشتری</h4>
                    </div>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div style="padding-right: 20px" class="row">
                        <table id="visitCustomerInfo">
                            <div>
                                <tr>
                                    <td>کدمشتری:</td>
                                    <td><input type="text" [(ngModel)]="editcustomer.cuid"></td>

                                </tr>
                                <tr>
                                    <td>نام:</td>
                                    <td><input [(ngModel)]="editcustomer.firstName"></td>

                                </tr>
                                <tr>
                                    <td>نام خانوادگی:</td>
                                    <td><input [(ngModel)]="editcustomer.lastName"></td>

                                </tr>
                                <tr>
                                    <td>آدرس:</td>
                                    <td><textarea rows="3" cols="19" [(ngModel)]="editcustomer.addressname"></textarea>
                                    </td>

                                </tr>
                                <tr>
                                    <td>توضیحات:</td>
                                    <td><textarea rows="3" cols="19" [(ngModel)]="editcustomer.descreption"></textarea>
                                    </td>
                                </tr>
                            </div>
                            <div style="background-color:#9fcdff;padding-right: 10px;width: 245px">
                                <tr>
                                    <td>ضامن:</td>
                                    <ul *ngFor="let cu of editcustomer.zamen">
                                        <td><input size="5" [(ngModel)]="cu.zamenName"><input size="5"
                                                                                              [(ngModel)]="cu.zamenFamily">
                                        </td>
                                    </ul>
                                </tr>
                            </div>
                            <div>
                                <tr>
                                    <td>شماره موبایل:</td>
                                    <td><input [(ngModel)]="editcustomer.mobileNum"></td>
                                </tr>
                                <tr>
                                    <td>شماره تماس:</td>
                                    <td><input [(ngModel)]="editcustomer.phoneNum"></td>
                                </tr>
                                <tr>
                                    <td>تاریخ ثبت:</td>
                                    <td><input [ngModel]="editcustomer.registerDate | date:'y/M/d'"
                                               (ngModelChange)="editcustomer.registerDate=$event"></td>
                                </tr>
                                <tr>
                                    <td>تاریخ آخرین مراجعه:</td>
                                    <td><input [ngModel]="editcustomer.lastCome | date:'y/M/d'"
                                               (ngModelChange)="editcustomer.lastCome=$event"></td>
                                </tr>
                                <tr>
                                    <td>مانده حساب:</td>
                                    <td><input [ngModel]="editcustomer.mande"
                                               (ngModelChange)="editcustomer.mande=$event" name="mande"></td>
                                </tr>
                            </div>
                        </table>
                        <table id="btnOP">
                            <tr>
                                <td>
                                    <button type="button" (click)="editCustomer()"
                                            class="btn btn-primary btn-sm rounded "
                                            style="font-family: '2  Mitra';">
                                        ویرایش مشتری
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" (click)="deletCustomer(editcustomer.id)"
                                            class="btn btn-danger btn-sm rounded"
                                            data-dismiss="modal"
                                            style="font-family: '2  Mitra';padding: 2px 12px 2px 12px">
                                        حذف مشتری
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-dark btn-sm rounded"
                                            style="font-family: '2  Mitra';padding: 3px 13px 3px 13px">چاپ این فرم
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-dark btn-sm rounded" data-dismiss="modal"
                                            style="font-family: '2  Mitra';padding: 3px 15px 3px 15px">
                                        بستن پنجره
                                    </button>
                                </td>
                            </tr>
                            <br><br>
                            <br><br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <tr>
                                <td><input type="text" size="5" [(ngModel)]="zamen.zamenName"></td>
                                <td><input type="text" size="5" [(ngModel)]="zamen.zamenFamily"></td>
                                <td><input type="button" value="ثبت" class="btn-sm" (click)="zamenRegister()"></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">

                    <div id="divCrudBtn">
                        <button type="button" (click)="editCustomer()" class="btn btn-primary"
                                style="font-family: '2  Mitra'">
                            ویرایش مشتری
                        </button>
                        <button type="button" (click)="deletCustomer(editcustomer.id)" class="btn btn-danger"
                                data-dismiss="modal" style="font-family: '2  Mitra'">
                            حذف مشتری
                        </button>
                        <button type="button" class="btn btn-dark" style="font-family: '2  Mitra'" (click)="printInformation(editcustomer.id)">چاپ این فرم</button>
                        <button type="button" class="btn btn-dark" data-dismiss="modal"
                                style="font-family: '2  Mitra';margin-right:15px">
                            بستن پنجره
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- The Search  Modal -->
    <div class="modal" id="searchCuModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header" dir="rtl">
                    <h5 class="modal-title" style="font-family: '2  Mitra'">جستجوی مشتری</h5>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <input type="text" placeholder="مشتری را جستجو کنید" class="form-control"
                           (keyup)="searchCustomer($event)">
                    <div style="margin-top: 15px;margin-right: 40px;font-family: '2  Mitra';text-align: center">
                        <table>
                            <tr>
                                <td>کدمشتری</td>
                                <td>نام</td>
                                <td>نام خانوادگی</td>
                                <td>مانده حساب</td>
                                <td>آخرین مراجعه</td>
                            </tr>
                            <tr *ngFor="let cu of searchedCu">
                                <td><input size="7" type="text" value="{{cu.cuid}}"></td>
                                <td><input size="12" type="text" value="{{cu.firstName}}"></td>
                                <td><input size="8" type="text" value="{{cu.lastName}}"></td>
                                <td><input size="8" type="text" value="{{cu.mande}}"></td>
                                <td><input size="8" type="text" value="{{cu.lastCome | date:'yyyy/MM/dd'}}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


